*{
  box-sizing: border-box;
}

body {
  margin: 10px;
  padding: 2px;
}

h1  {
  font-family: "Times New Roman", Times, serif;
  margin-bottom: 15px;
  text-align: center;
  color: black;
  }

h2 {
  font-family: "Times New Roman", Times, serif;

  text-align: center;

  font-size: 25px;

}

p {
  text-align: left;
  font-family: "Times New Roman", Times, serif;
  font-size: 20px;
  margin: 0px 8px 4px 8px;
}

section {
  border: 2px solid black;
  background-color: #C0C0C0;
  width: 100%;
  height: auto;
  font-family: Helvetica;
  color: black;
  position: relative;
}

.div {  
  border: none;
  margin-left: auto;
  margin-right: auto;
  margin-top: 10px;
  margin-bottom: 10px;
  padding: 10px;
}

#chk {
  background-color: #FFFF00;
  position: relative;
  border: 2px solid black;
  width: 30%;
  height: 30px;
  left: 70%;
  margin: 0px;
}

#beef {
  background-color: #008080;
  position: relative;
  border: 2px solid black;
  width: 30%;
  height: 30px;
  left: 70%;
  margin: 0px;
}

#sus {
  background-color: #FA8072;
  position: relative;
  border: 2px solid black;
  width: 30%;
  height: 30px;
  left: 70%;
  margin: 0px;
}




.row {
  width: 100%;
}

/********** Large devices only **********/
@media (min-width: 992px) {
  .col-lg-4{
    float: left;
    width: 33.33%;
  }
}

/********** Medium devices only **********/
@media (min-width: 768px) and (max-width: 991px) {
  .col-md-6, .col-md-12 {
    float: left;
  }
  .col-md-6 {
 width: 50%;
}
  .col-md-12 {
    width: 100%;
  }
  }